.chat-group-form__field.clearfix
  .chat-group-form__field--left
    = f.label :グループ名, class: 'chat-group-form__label'
  .chat-group-form__field--right
    = f.text_field :name, placeholder: "グループ名を入力してください", class: 'chat-group-form__input', id: 'chat-group-form__name'
.chat-group-form__field.clearfix
  .chat-group-form__field--left
    = f.label :チャットメンバーを追加, class: 'chat-group-form__label'
  .chat-group-form__field--right
    = f.text_field :name, placeholder: "ユーザー名を入力してください", class: 'chat-group-form__input', id: 'chat-group-form__user'
    %ul#user-search-result
.chat-group-form__field.clearfix
  .chat-group-form__field--left
    = f.label :チャットメンバー, class: 'chat-group-form__label'
  .chat-group-form__field--right
    %ul.chat-group-user
.chat-group-form__field.clearfix
  .chat-group-form__field--left
  .chat-group-form__field--right
    = f.submit value: "Save", class: 'btn chat-group-form__action-btn'
