.main-container
  .left-container
    #user-info-box
      %p#user-info-box__name
        = current_user.name
      #user-info-box__icon-wrapper
        = link_to new_group_path do
          %i.fa.fa-edit.fa-lg
        = link_to edit_user_registration_path do
          %i.fa.fa-cog.fa-lg
    - current_user.groups.each do |group|
      #group-box
        = link_to group_messages_path(group_id: group[:id]) do
          #group-box__name
            = group.name
          #group-box__message
            - if group.messages.last.present?
              = group.messages.last.body
            - else

  .right-container
